@charset "UTF-8";
/* formatações gerais */

body {
    font-family: 'Montserrat', sans-serif;
}

/* formatações da section top */

section#top {
    background-color: rgba(255, 159, 70, 0.8);
    height: 31em;
    padding-bottom: 30px;
}

section#top nav {
    background-color: rgba(255, 159, 70, 0.8);
    padding: 1.25em;
    height: 6.5em;
}

section#top nav ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

div#letrasbanner {
    position: relative;
    margin-top: 80px;
    margin-right: 100px;
}

section#top nav ul li:nth-child(4) {
    border-left: 1px solid white;
}

/* categorias */

section#categorias {
    background-color: #fff;
}

section#categorias p, section#mid p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #4d4d4d;
}

/* Pagina sobre */

div#sobre h4 {
    font-family: 'Montserrat', sans-serif;
}

img#logosobre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div#sobre {
    background-color: #fff;
    max-width: 1000px;
    padding: 15px;
    border-style: solid;
    border-color: #ff9f46;
    border-radius: 10px;
    text-align: justify;
}

div#sobre p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #4d4d4d;
}

/* Login modal */

a.btn {
    font-family: 'Montserrat', sans-serif;
    margin-top: 30%;
}

.modal {
    max-width: 30%;
    max-height: 100%;
}

input[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-top: 40px;
    font-weight: 500;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
}

.recuperar {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3%;
}

.cadastrar {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 3%;
}

/* termos */

div#termos {
    background-color: #fff;
    max-width: 1000px;
    padding: 15px;
    border-style: solid;
    border-color: #ff9f46;
    border-radius: 10px;
    text-align: justify;
}

div#termos h6 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 5px;
    font-size: 1.1em;
}

div#termos p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #4d4d4d;
}

/* formulario */

.input-field input:focus+label {
    color: #ff9f46 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #ff9f46 !important;
    box-shadow: 0 1px 0 0 #ff9f46 !important
}

div#login i {
    color: #ff9f46;
}

div#cadastro {
    background-color: #fff;
    max-width: 700px;
    padding: 10px;
    border-style: solid;
    border-color: #ff9f46;
    border-radius: 10px;
}

div#cadastro h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ff9f46;
    font-weight: 600;
    text-transform: uppercase;
    border-left: 3px solid #ff9f46;
    padding-left: 10px;
    font-size: 1.5em;
}

div#cadastro h6 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 3px solid #ff9f46;
    padding-left: 10px;
    font-size: 1.5em;
}

/*titulos*/

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
    border-left: 3px solid #ff9f46;
    padding-left: 8px;
    font-size: 2.5em;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #ff9f46;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 3px solid #ff9f46;
    padding-left: 8px;
    font-size: 2em
}

/* mid content */

section#mid {
    background-color: rgba(255, 236, 217, 0.7);
    padding-top: 1em;
    padding-bottom: 1em;
}

/*redes sociais*/

div#redes ul li {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 15px;
}

div#redes ul li a {
    background-image: url('../img/sprite-social.png');
    display: block;
    height: 100%;
    text-indent: -99999em;
}

div#redes ul li:nth-child(1) a {
    background-position: 0px 0px;
}

div#redes ul li:nth-child(2) a {
    background-position: -64px 0px;
}

div#redes ul li:nth-child(3) a {
    background-position: -128px 0px;
}

div#redes ul li:nth-child(1) a:hover {
    background-position: 0px -32px;
}

div#redes ul li:nth-child(2) a:hover {
    background-position: -64px -32px;
}

div#redes ul li:nth-child(3) a:hover {
    background-position: -128px -32px;
}

/* classes */

.banner-top {
    background: url('../img/banner3.jpg') no-repeat center bottom;
}

.card .card-content p {
    font-size: 17px !important;
}

.card .card-content h4 {
    color: #ff9f46;
}

.card-content a {
    font-family: 'Montserrat', sans-serif;
    color: #4d4d4d !important;
    font-weight: 500;
    text-transform: uppercase;
}

.page-footer {
    background-color: rgba(163, 98, 0, 0.8);
}

.page-footer .footer-copyright {
    background-color: rgba(51, 51, 51, 0.4)
}

.page-footer h5, ul {
    color: #fff;
}

/* media queries */

@media screen and (max-width: 1024px) {
    section#categorias p, section#mid p {
        font-size: 1.1em;
    }
    section#categorias h3, section#mid h3 {
        font-size: 1.9em;
    }
    section#categorias h4, section#mid h4 {
        font-size: 1.5em;
    }
    section#categorias a {
        font-size: 1.1em;
    }
    .page-footer h5 {
        font-size: 0.9em;
    }
    .page-footer ul li, .footer-copyright, div#redes ul li a {
        font-size: 0.8em;
    }
    .modal {
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    section#categorias p, section#mid p {
        font-size: 1.1em;
    }
    section#categorias h3, section#mid h3 {
        font-size: 1.9em;
    }
    section#categorias h4, section#mid h4 {
        font-size: 1.5em;
    }
    section#categorias a {
        font-size: 1.1em;
    }
    .page-footer h5 {
        font-size: 0.9em;
    }
    .page-footer ul li, .footer-copyright, div#redes ul li a {
        font-size: 0.8em;
    }
    .modal {
        max-width: 60%;
    }
}

@media screen and (max-width: 480px) {
    section#categorias p, section#mid p {
        font-size: 1.1em;
    }
    section#categorias h3, section#mid h3 {
        font-size: 1.9em;
    }
    section#categorias h4, section#mid h4 {
        font-size: 1.5em;
    }
    section#categorias a {
        font-size: 1.1em;
    }
    .page-footer h5 {
        font-size: 0.9em;
    }
    .page-footer ul li, .footer-copyright, div#redes ul li a {
        font-size: 0.8em;
    }
    .modal {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    section#categorias p, section#mid p {
        font-size: 1.1em;
    }
    section#categorias h3, section#mid h3 {
        font-size: 1.9em;
    }
    section#categorias h4, section#mid h4 {
        font-size: 1.5em;
    }
    section#categorias a {
        font-size: 1.1em;
    }
    .page-footer h5 {
        font-size: 0.9em;
    }
    .page-footer ul li, .footer-copyright, div#redes ul li a {
        font-size: 0.8em;
    }
    .modal {
        max-width: 100%;
    }
}