@charset "UTF-8";
/* formatações gerais */

body {
    font-family: 'Spectral', serif;
}

/* formatações da section top */

section#top {
    background-color: #FFD76B;
    height: 31em;
    padding-bottom: 32px;
}

section#top nav {
    background-color: rgba(163, 98, 0, 0.8);
    padding: 1em;
    height: 6em;
}

section#top nav ul li a {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section#top nav ul li:nth-child(5) {
    border-left: 1px solid white;
}

div#info {
    color: #ac6700fd;
    text-shadow: 1px 1px white;
    

    margin-top: 3em;

}
div#info h2{
    font-weight: 800;
    
}
div#info p{
    font-size: 30px;
    font-weight: 800;
}

/* classes */
.banner-top{
    background: url('..//img/banner2-base.jpg') no-repeat left bottom;
    
}
.logo{
    margin-bottom: 1px;
}